/* Definerer de skrifttyper jeg skal bruge*/
@font-face {
    font-family: 'Chakra Petch';
    src: url(../fonts/Chakra_Petch.zip) format('truetype');
    font-family: Nanum Brush Script;
    src: url(../fonts/Nanum_Brush_Script/);
}

/* Indsætter mine fonts*/
body {
    font-family: 'Chakra Petch', sans-serif;
    line-height: 2;
}

h1{
    font-family: 'Nanum Brush Script',sans-serif ;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 50px;
}

/* Reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styling af logo og baggrundsfarve ved logo*/
.logo {
    height: 10vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #ffe372 ;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

/* Styling af hovedmenu */
nav{
    text-align: center;
}

nav a{
    height: 100%;
    padding: 12px 80px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

/*Skygge når man bevæger musen*/
nav a:hover{
    background-color: #ffe372;
}

/*Styling af hovedmenu*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 65px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  /*Styling af dropdown menuen*/
  nav ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;    
  }
  
  nav ul .dropdown li {
    margin: 0;
  }
  
  nav ul .dropdown li a {
    padding: 8px 20px;
  }
  
  nav ul .menu:hover .dropdown {
    display: block;
  }

/*Styling af fotos på forsiden*/
.opskrifter{ 
    margin-top: 100px;
    margin-bottom: 120px;
    margin-right: 200px;
    margin-left: 200px;
}

/*Ligger billederne på en række med mellemrum*/
.populære-opskrifter{
    display: flex;
    justify-content: space-between;
}

/* Sætter fotos til at fylde 20% af bredden*/
.opskrift{
    width: 20%;
}

/*UNDERSIDER*/
/* Styling af hovedmenu på undersiderne */
.menu-underside{
    padding:  300px;
    }

/*Styling af logo på undersiderne*/
.logo-underside {
    height: 10vh;
    display: flex;
    justify-content: left; 
    align-items: center; 
    background-color: #ffe372 ;
    padding: 20px;
  }

/*Tekst skal stå i midten på undersiderne*/
.brødtekst1{
    text-align: center;
}

/*Layout af tekstsections*/
.ingredienser{
    margin-left: 150px;
}

.ingredienser ul{
    margin-left: 20px;
    line-height: 2;
}

.guide{
    margin-left: 1000px;
    margin-bottom: 100px;
}

.sushi-section{
    margin-top: 150px;
    margin-right: 800px;
    text-align: center;
}

.udon-section{
    margin-top: 150px;
    margin-left: 800px;
    text-align: center;
    margin-bottom: 100px;
}

/*Styling af billeder på undersiden "japan"*/
.sushi{
    transform: rotate(270deg);
    width: 450px;
    margin-left: 1000px;
    margin-top: -400px;
}

.udon{
    width: 450px;
}

/*Styling af articles på undersiden "lager"*/
.soya{

}

.fisk{

}

.øster{

}

.sesam{
    
}








/* Styling af footer*/
/*Størrelse af footer*/
.footer{
    height: 10vh;
    background-color: #ffe372 ;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Får kontaktoplysninger til at stå over hiananden*/
.kontakt{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: flex-end;
    margin-right: 25px;
}

/* Styling af footer på undersiderne */
.footer-underside{
    height: 10vh;
    background-color: #ffe372;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }